    .App {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
    }

    .draggable-blocks {
        width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .wrapper {
        padding: 50px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #8BC34A;
    }

    .droppable-area {
        background-color: #ffeb3ba3;
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .droppable-item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 50px;
        width: 200px;
        border: 1px solid black;
        background-color: aliceblue;
        padding: 5px;
        text-align: center;
    }

    .draggable-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 200px;
        border: 1px solid black;
        background-color: aliceblue;
        padding: 5px;
        margin-bottom: 20px;
        text-align: center;
    }

    svg {
        position: absolute;
        overflow: visible;
    }

    button {
        border: none;
        padding: 10px;
        font-size: 14px;
        background-color: #e91e63;
        color: #fff;
        font-weight: 600;
        margin-right: 30px;
    }

    .save {
        background-color: #3f51b5;
    }

    .clear {
        background-color: #000;
    }

    .buttons-container {
        display: flex;
        justify-content: center;
    }
